<section class="jumbotron text-center">
  <div class="container">
    <h1 id ="events" class="jumbotron-heading">Events</h1>
    <p class="lead text-muted">Below is a list of our upcoming events, information on the events, and how to register for each event.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
      <div class="row">
          <div class="col-md-4 d-flex" *ngFor = "let event of eventsObservable | async">
          <div class="card mb-4 box-shadow">
          <img class="card-img-top" src={{event.thumbnail}}>
          <div class="card-body flex-fill">
              <h5 class="card-title">{{event.title}}</h5>
              <p class="card-text">{{event.description}}</p>
              <p class="text-muted">Fee:  ${{event.fee}}</p>
              <p class="text-muted">Format:  {{event.format}}</p>
              <p class="text-muted">Date:  {{event.date}}</p>
              <!-- <small class="text-muted">Time:  {{event.time}}</small> -->
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <!-- <button class="btn btn-sm btn-outline-secondary" (click)="open(info)">Flyer</button> -->
                    <button class="{{event.regbutton}} btn btn-sm btn-outline-secondary" (click)="onRegClick(event.regurl)">Register</button>
                  </div>
                  <small class="text-muted">Time:  {{event.time}}</small>
              </div>
              </div>
          </div>    
          </div>
      </div>
  </div>
</div>