<section class="jumbotron text-center">
  <div class="container">
    <h1 id="programs" class="jumbotron-heading">Programs</h1>
    <p class="lead text-muted">We proudly offer a full range of programs for all levels and ages of players. Beginners and experienced players can choose the appropriate program offering in order to improve their on-court skills. Skills building developmental programs for both juniors and adults are designed to allow players to improve over time.</p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
      <div class="row">
          <div class="col-md-4" *ngFor = "let program of programsObservable | async">
          <div class="card mb-4 box-shadow">
          <img class="card-img-top" src={{program.thumbnail}}>
          <div class="card-body">
              <h5 class="card-title">{{program.title}}</h5>
              <p class="card-text">{{program.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary">More Info</a>
                  </div>
              </div>
            </div>
          </div>    
          </div>
      </div>
  </div>
</div>